@import "../../styles/_variables.scss"

.Commenter

    &-comment
        border-top: 1px solid $offWhite

        .TextLink
            padding-right: $cardPadding

        .Input
            padding: 1.2rem $cardPadding