@import "../../styles/_variables.scss"
    
.Input
    padding: 1rem 1.2rem
    border: 1px solid $offWhite
    border-radius: 10px
    outline: none
    transition: all 0.5s linear
    font-family: $text
    color: $black
    font-size: 12px

    &::placeholder
        color: $blueGrey

    &:focus
        border: 1px solid $lightGreen

    &.fullwidth
        width: calc(100% - 2.4rem)