@import "../../styles/_variables.scss"
    
.List

    .ListItem
        padding: $cardPadding $cardPadding 0

        &:last-child
            padding: $cardPadding


.ListItem
    width: calc(100% - #{$cardPadding * 2})
    display: flex
    align-items: center
    padding: $cardPadding