@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");

$heading: "Playfair Display",
serif;
$text: "Poppins",
sans-serif;
$textAlt: "Roboto",
sans-serif;

$borderRadius: 8px;
$cardPadding: 14px;
$maxWidth: 1200px;

$green: #168381;
$lightGreen: #20B9B6;
$lighterGreen: #21d1ce;
$blue: #007bff;
$white: #ffffff;
$almostWhite: #f9f9f9;
$offWhite: #e9e9e9;
$lightGrey: #d1d1d1;
$blueGrey: #9CA7B7;
$grey: #8B8B8B;
$darkGrey: #6d6d6d;
$black: #394454;

$statusGreen1: #DADC1A;
$statusGreen2: #A2D461;
$statusGreen3: #01B57F;
$statusGreen4: #00B7AB;
$statusGreen5: #008275;