@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  color: #394454; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.3rem; }

h6 {
  font-size: 1rem; }

p, i, a {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4rem;
  margin: 0; }

p {
  margin-bottom: 1rem; }

.story-spacer {
  margin: 40px;
  flex-grow: 1; }

.ActionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 14px; }
  .ActionBar-actions {
    display: flex;
    align-items: center; }
    .ActionBar-actions i {
      margin-right: 12px;
      color: #8B8B8B;
      line-height: 20px;
      margin-bottom: -4px; }
  .ActionBar-info {
    display: flex; }
    .ActionBar-info p {
      margin-bottom: 0px;
      margin-left: 20px;
      color: #8B8B8B;
      font-size: 12px; }

.Avatar {
  width: 2.8rem;
  height: 2.8rem;
  background-position: center center;
  background-size: cover;
  border-radius: 50%; }
  .Avatar.tiny {
    width: 1.2rem;
    height: 1.2rem; }
  .Avatar.small {
    width: 2rem;
    height: 2rem; }
  .Avatar.large {
    width: 4rem;
    height: 4rem; }
  .Avatar.huge {
    width: 8rem;
    height: 8rem; }
  .Avatar.status-1 {
    border: 2px solid #DADC1A; }
  .Avatar.status-2 {
    border: 2px solid #A2D461; }
  .Avatar.status-3 {
    border: 2px solid #01B57F; }
  .Avatar.status-4 {
    border: 2px solid #00B7AB; }
  .Avatar.status-5 {
    border: 2px solid #008275; }
  .Avatar.status.large {
    border-width: 3px; }
  .Avatar.status.huge {
    border-width: 5px; }

.Button {
  margin: 0;
  border: none;
  background: transparent;
  padding: 0.6rem 1.8rem;
  cursor: pointer;
  position: relative;
  transform: translate3d(0, 0, 0);
  outline: none;
  display: flex;
  align-items: center; }
  .Button span {
    order: 2;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    transition: color 0.5s linear; }
  .Button.fullwidth {
    width: 100%;
    justify-content: center; }
  .Button.primary {
    background: #20B9B6 radial-gradient(circle, transparent 1%, #20B9B6 1%) center/15000%;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s linear; }
    .Button.primary:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      background: #168381 radial-gradient(circle, transparent 1%, #168381 1%) center/15000%; }
    .Button.primary:active {
      background-color: #20B9B6;
      background-size: 100%;
      transition: background 0s; }
  .Button.secondary {
    border: 1px solid #20B9B6;
    border-radius: 100px;
    transition: all 0.5s linear;
    background: rgba(255, 255, 255, 0) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0) 1%) center/15000%; }
    .Button.secondary span {
      color: #20B9B6; }
    .Button.secondary:hover {
      background: #20B9B6 radial-gradient(circle, transparent 1%, #20B9B6 1%) center/15000%; }
      .Button.secondary:hover span {
        color: #ffffff; }
    .Button.secondary:active {
      background-color: #21d1ce;
      background-size: 100%;
      transition: background 0s; }
  .Button.tertiary {
    background: #8B8B8B radial-gradient(circle, transparent 1%, #8B8B8B 1%) center/15000%;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s linear; }
    .Button.tertiary:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      background: #6d6d6d radial-gradient(circle, transparent 1%, #6d6d6d 1%) center/15000%; }
    .Button.tertiary:active {
      background-color: #8B8B8B;
      background-size: 100%;
      transition: background 0s; }
  .Button.disabled {
    background: #d1d1d1;
    border-radius: 100px;
    cursor: not-allowed; }
    .Button.disabled:active:after {
      display: none; }
  .Button.white {
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s linear;
    border: 1px solid transparent; }
    .Button.white span {
      color: #394454; }
    .Button.white:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      border: 1px solid #20B9B6; }
      .Button.white:hover span {
        color: #20B9B6; }
    .Button.white:active {
      background-color: #20B9B6;
      background-size: 100%;
      transition: background 0s; }
  .Button.tiny {
    padding: 0.4rem 1rem 0.3rem; }
    .Button.tiny span {
      letter-spacing: 1px;
      font-size: 8px;
      line-height: 8px; }
    .Button.tiny i {
      font-size: 10px; }
    .Button.tiny.iconButton {
      height: 20px;
      width: 20px; }
  .Button.small {
    padding: 0.5rem 1.4rem; }
    .Button.small span {
      letter-spacing: 1px;
      font-size: 10px;
      line-height: 10px; }
    .Button.small i {
      font-size: 12px; }
    .Button.small.iconButton {
      height: 30px;
      width: 30px; }
  .Button.large {
    padding: 0.8rem 2.2rem; }
    .Button.large span {
      letter-spacing: 1px;
      font-size: 18px;
      line-height: 18px; }
    .Button.large i {
      font-size: 20px; }
    .Button.large.iconButton {
      height: 45px;
      width: 45px; }
  .Button.withIcon i {
    display: inline-block;
    line-height: 0;
    margin: 0.5px 6px 0 -4px;
    color: #ffffff;
    transition: color 0.5s linear; }
  .Button.withIcon.secondary i {
    color: #20B9B6; }
  .Button.withIcon.secondary:hover i {
    color: #ffffff; }
  .Button.withIcon.white i {
    color: #394454; }
  .Button.withIcon.white:hover i {
    color: #20B9B6; }
  .Button.withIcon.iconRight i {
    order: 3;
    margin-left: 6px;
    margin-right: -4px; }
  .Button.withIcon.atEdge i {
    position: absolute;
    left: 20px; }
  .Button.withIcon.atEdge.iconRight i {
    right: 10px;
    left: initial;
    transform: translateX(-100%); }
  .Button.iconButton {
    width: 35px;
    height: 35px;
    padding: 0;
    position: relative; }
    .Button.iconButton i {
      color: #ffffff;
      margin: 0;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: color 0.5s linear; }
    .Button.iconButton.secondary i {
      color: #20B9B6; }
    .Button.iconButton.secondary:hover i {
      color: #ffffff; }
    .Button.iconButton.white i {
      color: #394454; }
    .Button.iconButton.white:hover i {
      color: #20B9B6; }
  .Button.onColor.primary {
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%; }
    .Button.onColor.primary:hover {
      background: #e9e9e9 radial-gradient(circle, transparent 1%, #e9e9e9 1%) center/15000%; }
    .Button.onColor.primary:active {
      background-color: #20B9B6;
      background-size: 100%; }
    .Button.onColor.primary span, .Button.onColor.primary i {
      color: #20B9B6; }
  .Button.onColor.secondary {
    border: 1px solid #ffffff;
    border-radius: 100px;
    transition: all 0.5s linear;
    background: rgba(255, 255, 255, 0) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0) 1%) center/15000%; }
    .Button.onColor.secondary span {
      color: #ffffff; }
    .Button.onColor.secondary:hover {
      background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%; }
      .Button.onColor.secondary:hover span, .Button.onColor.secondary:hover i {
        color: #20B9B6; }
    .Button.onColor.secondary:active {
      background-color: #20B9B6;
      background-size: 100%;
      transition: background 0s; }
    .Button.onColor.secondary i {
      color: #ffffff; }

.Card {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  max-width: 600px;
  position: relative;
  background: #ffffff; }
  .Card *:last-child {
    border-bottom: none; }
  .Card-Header {
    padding: 14px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between; }
  .Card-Tagline {
    padding: 14px;
    font-size: 12px;
    line-height: 20px; }
    .Card-Tagline * {
      margin: 0; }
  .Card-Image {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .Card-Image:first-child {
      border-radius: 8px 8px 0 0; }
    .Card-Image-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center; }
    .Card-Image:after {
      content: '';
      display: block;
      padding-top: 54.6%; }
    .Card-Image.square:after {
      padding-top: 100%; }
    .Card-Image.contain {
      display: flex; }
    .Card-Image.padding {
      padding: 14px; }
      .Card-Image.padding img {
        width: calc(100% - 24px); }
    .Card-Image img {
      object-fit: contain;
      width: 100%;
      height: 100%; }
  .Card-Title {
    padding: 14px 60px 14px 14px;
    background: #f9f9f9;
    align-items: center;
    cursor: pointer;
    position: relative; }
    .Card-Title h2 {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px; }
    .Card-Title .title-arrow {
      position: absolute;
      right: 14px;
      top: 24px; }
  .Card .bookmark {
    position: absolute;
    top: 10px;
    right: 10px; }

.Checkbox {
  transition: all 0.5s linear;
  font-family: "Poppins", sans-serif;
  color: #394454;
  font-size: 12px;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .Checkbox:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
    top: -6px;
    left: -3px;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .Checkbox:not(.checked):before {
    background-color: #20B9B6;
    background-size: 80%;
    transition: background 0s; }
  .Checkbox::placeholder {
    color: #9CA7B7; }
  .Checkbox:focus {
    border: 1px solid #20B9B6; }
  .Checkbox.fullwidth {
    width: calc(100% - 2.4rem); }
  .Checkbox.checked i {
    color: #20B9B6; }
  .Checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .Checkbox span {
    margin-left: 25px;
    font-size: 14px;
    color: #8B8B8B; }
  .Checkbox i {
    position: absolute;
    left: 1px;
    top: -2px;
    font-size: 18px;
    color: #e9e9e9;
    line-height: 16px; }

.Commenter-comment {
  border-top: 1px solid #e9e9e9; }
  .Commenter-comment .TextLink {
    padding-right: 14px; }
  .Commenter-comment .Input {
    padding: 1.2rem 14px; }

.FormRow {
  display: flex;
  width: calc(100% - 28px);
  justify-content: space-between;
  padding: 14px; }
  .FormRow.plain {
    align-items: center;
    width: 100%;
    padding: 0; }
  .FormRow .Button:last-child {
    border-radius: 0 8px 8px 0; }
  .FormRow .Input:first-child {
    border-radius: 8px 0 0 8px; }

.Input {
  padding: 0.7rem 1rem;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  outline: none;
  transition: all 0.5s linear;
  font-family: "Poppins", sans-serif;
  color: #394454;
  font-size: 12px; }
  .Input::placeholder {
    color: #9CA7B7; }
  .Input:focus {
    border: 1px solid #20B9B6; }
  .Input.fullwidth {
    width: calc(100% - 2.4rem); }
  .Input.plain {
    border: none; }
  .Input.small {
    padding: 0.5rem 0.8rem;
    font-size: 10px; }
  .Input.large {
    padding: 1rem 1.2rem;
    font-size: 14px; }

.List .ListItem {
  padding: 14px 14px 0; }
  .List .ListItem:last-child {
    padding: 14px; }

.ListItem {
  width: calc(100% - 28px);
  display: flex;
  align-items: center;
  padding: 14px; }

.Meta {
  display: flex; }
  .Meta-titles * {
    margin-bottom: 6px; }
    .Meta-titles *:last-child {
      margin-bottom: 0; }
  .Meta-titles h1 {
    font-size: 16px;
    line-height: 18px; }
  .Meta-titles h2 {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: #8B8B8B; }
  .Meta-titles h3 {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8B8B8B; }
  .Meta-content {
    margin-top: 4px; }
    .Meta-content p {
      font-size: 12px; }
  .Meta-product {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .Meta-rating {
    margin: 10px 0 0;
    width: 100%; }
  .Meta-wishlist {
    align-self: flex-end;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex; }
    .Meta-wishlist a {
      text-align: right;
      cursor: pointer; }
      .Meta-wishlist a:hover {
        color: #168381; }
        .Meta-wishlist a:hover i {
          color: #168381; }
  .Meta-price {
    margin: 12px 0 4px;
    float: left; }
    .Meta-price h3 {
      font-size: 18px;
      margin: 0;
      color: #168381; }
  .Meta-container {
    width: 100%; }
  .Meta.withAvatar .Meta-container {
    margin-left: 14px; }
  .Meta.center {
    align-items: center; }
  .Meta.vertical {
    flex-direction: column; }
    .Meta.vertical .Meta-container {
      margin: 10px 0 0 0; }
  .Meta.multipleAvatars .Meta-avatar {
    display: flex; }
    .Meta.multipleAvatars .Meta-avatar .Avatar {
      margin-top: -3px;
      margin-left: -20px;
      border: 3px solid #ffffff; }
      .Meta.multipleAvatars .Meta-avatar .Avatar:first-child {
        margin-left: 0; }
      .Meta.multipleAvatars .Meta-avatar .Avatar:nth-child(1) {
        z-index: 4; }
      .Meta.multipleAvatars .Meta-avatar .Avatar:nth-child(2) {
        z-index: 3; }
      .Meta.multipleAvatars .Meta-avatar .Avatar:nth-child(3) {
        z-index: 2; }
      .Meta.multipleAvatars .Meta-avatar .Avatar:nth-child(4) {
        z-index: 1; }
  .Meta.alt h1 {
    margin-bottom: 2px; }
  .Meta.alt h2 {
    font-size: 10px; }

.Navbar {
  padding: 0.4rem 14px;
  background: #ffffff; }
  .Navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #ffffff; }
  .Navbar-nav {
    flex-grow: 1;
    display: flex;
    align-items: center; }
    .Navbar-nav .Navbar-logo {
      width: 80px;
      margin-right: 60px; }
      .Navbar-nav .Navbar-logo img {
        width: 100%; }
    .Navbar-nav ul {
      display: flex; }
      .Navbar-nav ul li {
        margin-right: 50px;
        display: inline; }
        .Navbar-nav ul li.hasSubMenu {
          display: flex;
          align-items: center;
          position: relative; }
          .Navbar-nav ul li.hasSubMenu i {
            margin-left: 4px;
            line-height: 0; }
          .Navbar-nav ul li.hasSubMenu .subMenu {
            transform: translateY(-20px);
            opacity: 0;
            position: absolute;
            top: 0;
            pointer-events: none;
            transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s linear; }
            .Navbar-nav ul li.hasSubMenu .subMenu ul {
              margin-top: 30px;
              flex-direction: column;
              display: flex;
              padding: 14px 20px;
              border-radius: 8px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              text-align: left; }
              .Navbar-nav ul li.hasSubMenu .subMenu ul li {
                margin: 0; }
          .Navbar-nav ul li.hasSubMenu:hover .subMenu {
            transform: translateY(0);
            opacity: 1;
            pointer-events: initial; }
        .Navbar-nav ul li a {
          text-transform: uppercase;
          letter-spacing: 1px;
          text-decoration: none;
          font-size: 12px;
          font-weight: 400;
          transition: all 0.2s linear;
          cursor: pointer; }
          .Navbar-nav ul li a:hover {
            color: #168381; }
  .Navbar-actions ul li {
    margin-left: 15px;
    display: inline-block; }
    .Navbar-actions ul li i {
      font-size: 20px; }

.Rating {
  display: flex;
  align-items: center; }
  .Rating p {
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    color: #168381;
    padding: 0;
    margin: 0 0 1px 6px; }
  .Rating i {
    color: #168381;
    font-size: 16px; }

.TextLink {
  color: #20B9B6;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear; }
  .TextLink:hover {
    color: #168381; }
