@import "../../styles/_variables.scss"
    
.Card
    border: 1px solid $offWhite
    border-radius: $borderRadius
    max-width: 600px
    position: relative
    background: $white

    *:last-child
        border-bottom: none

    &-Header
        padding: $cardPadding
        border-bottom: 1px solid $offWhite
        display: flex
        justify-content: space-between

    &-Tagline
        padding: $cardPadding

        *
            margin: 0
        
        font-size: 12px
        line-height: 20px

    &-Image
        width: 100%
        position: relative
        overflow: hidden

        &:first-child
            border-radius: $borderRadius $borderRadius 0 0

        &-image
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-size: cover
            background-position: center center

        &:after
            content: ''
            display: block
            padding-top: 54.6%

        &.square:after
            padding-top: 100%

        &.contain
            display: flex

        &.padding
            padding: $cardPadding

            img
                width: calc(100% - 24px)

        img
            object-fit: contain
            width: 100%
            height: 100%

    &-Title
        padding: $cardPadding 60px $cardPadding $cardPadding
        background: $almostWhite
        align-items: center
        cursor: pointer
        position: relative

        h2
            margin: 10px 0
            font-size: 16px
            font-weight: 500
            line-height: 22px

        .title-arrow
            position: absolute
            right: 14px
            top: 24px

    .bookmark
        position: absolute
        top: 10px
        right: 10px
