@import "../../styles/_variables.scss"

.TextLink
    color: $lightGreen
    text-decoration: none
    font-size: 14px
    font-weight: 500
    cursor: pointer
    transition: all 0.2s linear

    &:hover
        color: $green